@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #e0e0e0;
  --text: #313131;
}

html, body, #root { height: 100%; }

body {
  background: var(--bg);
  color: var(--text);
}
